body{
    font-family: 'Roboto', sans-serif;
}

#logo{
    width: 50px !important;
}

h1{
    font-weight: 700;
}

.input-group-text{
    font-weight: 300;
}

.col{
    font-weight: 400;
}

.items{
    font-weight: 300;
    text-align: center;
}

.reprobado{
    color: #fff;
    background-color: red;
    text-align: center;
}

.aprobado{
    color: white;
    background-color:green;
    text-align: center;
}
